<div class="row" *ngIf="product">
  <div class="col-6">
    <img src="{{product.pictureUrl}}" alt="{{product.pictureUrl}}" class="w-100">
  </div>
  <div class="col-6 mt-5">
    <h2>{{product.name}}</h2>
    <p>{{product.price | currency}}</p>
    <div class="d-flex justify-content-start align-items-center">
      <fa-icon [icon]="plusIcon" class="text-warning me-2" style="cursor: pointer; font-size: 2rem;"></fa-icon>
      <span class="font-weight-bold" style="font-size: 1.5rem;">2</span>
      <fa-icon [icon]="minusIcon" class="text-warning ms-2" style="cursor: pointer; font-size: 2rem;"></fa-icon>
      <button class="btn btn-outline-secondary ms-4">Add to cart</button>
    </div>
    <div class="mt-4 row">
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>
